*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.green{
    background-color: greenyellow;
}

.red{
    background-color: crimson;
}

.blue{
    background-color: lightskyblue;
}

.yellow{
    background-color: yellow;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

p{
    font-size: 1.25rem;
}

.box1, .box2{
    display: flex;
    gap: 20px;
}

.box{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 15px;
}

@media (max-width: 370px){
    .box{
        height: 125px;
        width: 125px;
    }
}